<!DOCTYPE html>
<html lang="es">
  <!-- Include Head -->
  <%- include('partials/head') %>

  <body>
    <!-- Header -->
    <%- include('partials/header') %>
    <!-- /Header -->

    <!-- product detail -->
    <div class="container products-wrapper">
      <div class="d-flex align-items-center">
        <h2 class="products-title">
			<%= producto.nombre_producto %>
        </h2>
        <p class="product-detail-description">
          <a href="/product/product-add">Editar</a>
        </p>
      </div>

      <div class="product-detail">
        <div class="row">
          <article class="col-12 col-lg-8 product-detail-info">
            <!-- Imagen del producto -->
			
            <img src="/images/products/<%= producto.nombre_imagen %>" alt="<%= producto.nombre_producto %>">


            
            <!-- Descripción -->
            <p class="product-detail-description">
              <%= producto.descripcion %>
            </p>

          </article>
          <div class="col-12 col-lg-4">
            <section class="comments">
              
                  <% for (let i = 0; i < producto.comentarios.length; i++) { %>
                    <article>
                      <img src="/images/users/<%= producto.comentarios[i].usuarios.foto_perfil %>" alt="foto perfil" width="40">
                      <div class="data">
                        <p class="user">
                          <strong>
                            <a href="/profile/<%= producto.comentarios[i].usuarios.id %>">
                              <%= producto.comentarios[i].usuarios.usuario %>
                            </a>:
                          </strong>
                          <%= producto.comentarios[i].comentario %>
                        </p>
                      </div>
                    </article>
                  <% } %>
                </section>
              
                <form class="form" action="/product/detalle/<%= producto.id %>" method="POST">
                  <input class="form-input" type="text" value="" name="comentario" placeholder="Agregar comentario">
                  <button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
                </form>
                <hr>
              </div>
          
          
          
    <!-- footer -->
    <%- include('partials/footer') %>
    <!-- /footer -->
  </body>
</html>

	</body>

</html>