<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('partials/headerLogueado', { user }) %>
	<!-- /Header -->

	<!-- Datos del usuario -->
	<section class="info-usuario container products-wrapper">
		<div class="row">
			<div class="img-container offset-3 col-2">
				<img src="<%= user.foto %>" alt="Foto de perfil" class="foto-perfil" width="150">
			</div>
			<div class="data-container col-6">
				<div class="d-flex align-items-center ">
					<h1 class="main-title"><%= user.nombreUsuario %> 
						<a href="profile-edit.html">
							<i class="fas fa-cog"></i>
						</a>
					</h1>
					<a class="btn mt-3 ml-4" href="">SEGUIR</a>
				</div>
				
				<p class="mt-2">Email: <%= user.email %></p>


				<div>
					<ul class="">
						<li>8 productos</li>
						<li>200 seguidores</li>
						<li>300 comentarios</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!-- /Datos del usuario -->

	<!-- Mis productos -->
	<div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="/detalle/4">
			<figure class="product-box_image">
			  <img src="/images/products/producto1.png" alt="Alimento balanceado Premium 3kg">
  
			</figure>
			<article class="product-box_data">
			  <h2>Alimento balanceado Premium 3kg</h2>
			  <p>Nutrición completa para perros adultos</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
	
	  <div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="/detalle/:id ">
			<figure class="product-box_image">
			  <img src="/images/products/producto2.png" alt="Cama acolchadax">
			</figure>
			<article class="product-box_data">
			  <h2>Cama acolchada</h2>
			  <p>Súper cómoda, lavable y duradera</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
	  <div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="product.html">
			<figure class="product-box_image">
			  <img src="/images/products/producto3.png" alt="Correa extensible">
			</figure>
			<article class="product-box_data">
			  <h2>Correa extensible</h2>
			  <p>Para paseos seguros y con libertad</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
  
	  <div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="product.html">
			<figure class="product-box_image">
			  <img src="/images/products/producto4.png" alt="Juguete mordedor con forma de hueso">
			</figure>
			<article class="product-box_data">
			  <h2>Juguete mordedor con forma de hueso</h2>
			  <p>Ideal para perros pequeños. Material resistente y seguro</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
	  <div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="product.html">
			<figure class="product-box_image">
			  <img src="/images/products/producto5.png" alt="Pelota con sonido">
			</figure>
			<article class="product-box_data">
			  <h2>Pelota con sonido</h2>
			  <p>Estimula el juego. Hecha de goma natural</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
	  <div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
		  <a href="product.html">
			<figure class="product-box_image">
			  <img src="/images/products/producto6.png" alt="Set de platos antideslizantes">
			</figure>
			<article class="product-box_data">
			  <h2>Set de platos antideslizantes</h2>
			  <p>Incluye plato de comida y agua</p>
			  <p>Comentarios: 12</p>
			</article>
		  </a>
		</section>
	  </div>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
	  <section class="product-box">
		<a href="product.html">
		  <figure class="product-box_image">
			<img src="/images/products/producto7.png" alt="Shampoo neutro para perros">
		  </figure>
		  <article class="product-box_data">
			<h2>Shampoo neutro para perros</h2>
			<p>Hipoalergénico y con aroma suave</p>
			<p>Comentarios: 12</p>
		  </article>
		</a>
	  </section>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
	  <section class="product-box">
		<a href="product.html">
		  <figure class="product-box_image">
			<img src="/images/products/producto8.png" alt="Snack dental x10">
		  </figure>
		  <article class="product-box_data">
			<h2>Snack dental x10</h2>
			<p>Ayuda a mantener los dientes limpios</p>
			<p>Comentarios: 12</p>
		  </article>
		</a>
	  </section>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
	  <section class="product-box">
		<a href="/product">
		  <figure class="product-box_image">
			<img src="/images/products/producto9.png" alt="Ropa impermeable">
		  </figure>
		  <article class="product-box_data">
			<h2>Ropa impermeable</h2>
			<p>Perfecto para días de lluvia</p>
			<p>Comentarios: 12</p>
		  </article>
		</a>
	  </section>
	</div>
	<div class="col-12 col-sm-6 col-lg-3">
	  <section class="product-box">
		<a href="product.html">
		  <figure class="product-box_image">
			<img src="/images/products/producto10.png" alt="Transportadora rígida chica">
		  </figure>
		  <article class="product-box_data">
			<h2>Transportadora rígida chica</h2>
			<p>Ideal para viajes y visitas al veterinario</p>
			<p>Comentarios: 12</p>
		  </article>
		</a>
	  </section>
	</div>
  </div>
	<!-- /Mis productos -->


	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>